.App {
  text-align: center;
  background-color: white;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.card{
  box-shadow: 
    0 15px 35px #3a3636ab, 
    0 5px 15px #000000;
}

/* @media (prefers-reduced-motion: no-preference) { */
  /* .App-logo { */
    /* animation: App-logo-spin infinite 20s linear; */
  /* } */
/* } */

/* .App-header { */

/* } */

.Header {
  background-color: rgb(0, 0, 0);
  background-image: url('forest2.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-shadow: 2px 2px #000000;
  font-size: calc(10px + 2vmin);
  padding: 70px;
  color: rgb(255, 251, 251);

}

.Header_2 {
  background-color: rgb(72, 88, 92);
  max-height: 7px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 0px;
  /* color: black; */
}

.Footer {
  background-color: rgb(0, 0, 0);
  background-image: url('forest2.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  max-height: 3vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-shadow: 2px 2px #000000;
  font-size: calc(10px + 2vmin);
  padding: 70px;
  color: rgb(255, 251, 251);
}

.App-logo{
  height: 150px;
}

.Buttons {
  overflow: hidden;
  border: 1px solid #0B1023;
  background-color: #0B1023;
}

.Buttons buttons {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 20px 16px;
  transition: 0.3s;
}

.Buttons button:hover {
  background-color: #ddd;
}

.Buttons button.active {
  background-color: #ccc;
}

.Buttonscontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

/* for future reference
   #6D767B - HOME
   #52A450 - LAND
   #2E7DF6 - SEA
   #3B8294 - SKY
   #B8353A - DONATE 
   */


.App-link {
  color: #e2dede;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
